
<div class=" full-height flex flex-wrap content-evenly">
  <div class="grid grid-cols-12 h-screen">
    <div class="col-span-9">
      <div class="grid grid-cols-4 gap-4 flex">
        <div class="col-span-4 bg-sky-900 w-full h-14 w-full">&zwnj;</div>
        <div class="col-span-2 text-1xl py-4 rounded-r-lg ml-5">
          <h1 class="text-3xl py-2">
            <img src="../assets/imgs/photo-small.png" class="rounded-full self-auto h-50 m-auto py-10">
            <b>
              Saúl Martínez Flores
              <i class="fab fa-angular mx-1"></i>
              <i class="fab fa-node-js mx-1"></i>
            </b>
          </h1>
          <h2 class="text-1xl py-2">
            INFORMATICS ENGINEERING
          </h2>
          <p class="text-sm">
            Informatics engineering student with experience in RESTful APIs development,
          Full Responsive desktop and mobile applications as well as database administration.
          </p>

          <div class="col-span-12 text-1xl my-20">
            <h2 class="text-2xl py-2">
              <i class="fas fa-marker text-violet-600"></i>
              Professional Interests
            </h2>
            <p class="text-sm">
              To keep on expanding my knowledge about great structural patterns for API development and
              improving my skills on responsive client-side implementations.
            </p>
          </div>
          <div class="col-span-12 text-1xl">
            <p class="text-2xl py-2">
              <i class="fas fa-asterisk text-violet-600"></i>
              References
            </p>
            <p class="text-sm">
              <b>Orlando Muñoz</b> - Senior Full Stack Developer and DevOps Engineer at Ambar Seguros. <br>
              <i class="fas fa-phone text-violet-600"></i>
                (+52) 33 - 2030 - 2682.
            </p> <br>
            <p class="text-sm">
              <b>Noé García</b> - Software Engineer at Rectoría de la Universidad de Guadalajara. <br>
              <i class="fas fa-phone text-violet-600"></i>
                (+52) 33 - 2107 - 3854.
            </p>
          </div>
        </div>

        <div class="col-span-2 grid grid-cols-12 gap-4 flex">
          <div class="col-span-12 text-1xl p-4">
            <h2 class="text-2xl mb-2">
              <i class="fas fa-university text-violet-600"></i>
              Education
            </h2>
            <p class="text-slate-500">Highschool:</p>
            <p class="text-slate-400">AUGUST 2015 - JULY 2018</p>
            <p>Preparatoria #5 - Universidad de Guadalajara.</p>
            <p>Bachillerato General por Competencias.</p>
            <br>
            <p class="text-slate-500"><i class="fas fa-graduation-cap"></i> Bachellor's degree:</p>
            <p class="text-slate-400">AUGUST 2018 - PRESENT</p>
            <p>Ingeniería Informática - Universidad de Guadalajara.</p>
            <p>At University Center of Exact Sciences and Engineering.</p>
          </div>

          <div class="col-span-12 text-1xl p-4">
            <h2 class="text-2xl">
              <i class="fas fa-briefcase text-violet-600"></i>
              Work Experience
            </h2>
            <p>Soporte en Paralelo Agente de Seguros y Fianzas S.A. de C.V. </p>
            <p class="text-slate-400">SEPTEMBER 2021 - PRESENT</p>
            <p>Software Developer. NodeJS and Angular for creating high level client and server-side applications.</p>
          </div>

          <div class="col-span-12 text-1xl p-4">
            <h2 class="text-2xl">
              <i class="fas fa-project-diagram text-violet-600"></i>
              Projects
            </h2>
            <p>Web APIs Related to the Generation of Insurance Certificates.</p>
            <p class="text-slate-400">SEPTEMBER 2021 - PRESENT</p>
            <p>System that generates insurance certificates for aircrafts and cargo ships.</p>
          </div>

          <div class="col-span-12 text-1xl p-4">
            <h2 class="text-2xl mb-2">
              <i class="fas fa-language text-violet-600"></i>
              Languages
            </h2>
            <p class="text-slate-500">SPANISH - 100% | NATIVE COMPETENCE.</p><br>
            <p class="text-slate-500">ENGLISH - 100% | PROFESSIONAL COMPETENCE (C1).</p>
            <p class="text-slate-400">JANUARY 2017 - JUNE 2018</p>
            <p>PC Proulex Certificado de Inglés, PROULEX</p>
            <p>English knowledge at C1 Level according to the Common European Framework of Reference</p>
            <br>
            <p class="text-slate-500">GERMAN - 85% | BASIC PROFESSIONAL COMPETENCE (B1).</p>
            <p class="text-slate-400">AUGUST 2019 - OCTOBER 2020</p>
            <p>PDU Proulex Diploma Universitario de Alemán, PROULEX.</p>
            <p>Deutschkenntnisse auf B1-Ebene laut Gemeinsamer Europäischer Referenzrahmen.</p>
          </div>


        </div>



      </div>
    </div>
    <div class="col-span-3 bg-sky-900 h-full text-white">
      <div class="pl-8">
        <h2 class="text-4xl p-5">Details</h2>
        <h3 class="text-2xl m-4">
          <i class="fas fa-id-card"></i>
          Contact info:
        </h3>
        <p class="text-1xl p-2">
          <i class="fas fa-phone"></i>
          (+52) 33 - 3905 - 6156.
        </p>
        <p class="text-1xl p-2">
          <i class="fas fa-smile-beam "></i>
          21 years old.
        </p>
        <p class="text-1xl p-2">
          <i class="fab fa-linkedin"></i>&nbsp;
          <a href="https://www.linkedin.com/in/sa%C3%BAl-mart%C3%ADnez-flores-b38361246/"><u>Saúl Martínez Flores | LinkedIn</u></a>
        </p>
        <p class="text-1xl p-2">
          <i class="fas fa-map-marker-alt"></i>
          Guadalajara, Jalisco. México
        </p>


        <h2 class="text-2xl m-4">
          <i class="fas fa-fist-raised"></i>
          Technical Skills
        </h2>
        <b>Proficient at a production level (+90%):</b>
        <h2 class="text-1xl py-1">
          <b>Programming Languages:</b> Javascript, Typescript.
        </h2>
        <h2 class="text-1xl py-1">
          <b>Front End:</b> Angular, HTML, SASS, CSS.
        </h2>
        <h2 class="text-1xl py-1">
          <b>Back End:</b> NodeJS, HapiJS.
        </h2>
        <h2 class="text-1xl py-1">
          <b>Databases:</b> PostgreSQL, MongoDB.
        </h2>
        <h2 class="text-1xl py-1">
          Basic knowledge of: C++, Python, Flask, Express.
        </h2>

        <h2 class="text-2xl m-4">
          <i class="fab fa-uncharted"></i>
          Software
        </h2>
        <b>Proficient at a production level (+90%):</b>
        <h2 class="text-1xl py-1">
          Git, Gitlab, Github, Visual Studio Code, Cyberduck, Heroku, Robo3T.
        </h2>
        <h2 class="text-1xl py-1">
          Basic knowledge of: Camtasia, Photoshop, Excel, QT Creator for C++.
        </h2>

      </div>
    </div>
  </div>
</div>
